-# frozen_string_literal: true

- sr = @query_command.search_results
= render partial: "ppd/workflow_action_buttons", locals: {no_results: true, no_print: true}

%h1
  Search results

.search-summary
  %p
    #{sr.summarise} by searching for:
  %ul.search-terms.list.list-bullet
    - @preferences.each_search_term do |search_term|
      - clean_label = sanitize(search_term.label)
      - clean_value = sanitize(search_term.value)
      %li
        %label
          = raw(clean_label)
          - st_path = @preferences.as_path( :search, {}, {search_term.name => clean_value } )
          %a.search-term{ href: st_path, 'aria-label' => "Remove search term #{raw(clean_label)}" }
            %i.fa.fa-times-circle.fa-lg

  %p.search-selection
    Current selection:
    %strong #{results_selection_summary( @preferences.selected_limit )}.
  %ul.list.list-bullet
    - (UserPreferences::AVAILABLE_LIMITS - [@preferences.selected_limit]).each do |limit|
      %li
        = results_selection( limit, @preferences )

- if sr.max_results_limit_hit
  .search-limit-reached.bg-danger
    %i.fa.fa-exclamation-triangle
    We're sorry, but your search returned more results than is practical to display on this
    page without causing your browser to slow down. We have limited this page to
    #{SearchResults::DEFAULT_MAX_RESULTS} results. If you want to view all of the results
    that your search returned, please make the query more selective, or
    %strong
      %a{ href: "#{@preferences.as_path( :ppd_data )}"}
        download the data
    onto your computer.

%ul.list-unstyled.ppd-results
  - result = nil
  - sr.each_property_address do |results|
    - previous_result = result
    - result = results.first

    %li{}
      .row
        %h2.property-heading.col-md-12
          %span.address
            = result.formatted_address

      .row
        .col-md-4.transaction-history
          %h3.transaction-history__title Transaction history
          %table.table
            %thead
              %tr.hidden
                %th{ scope: 'col' } Transaction category
                %th{ scope: 'col' } Date
                %th{ scope: 'col' } Price
                %th{ scope: 'col' } Link to transaction record
            %tbody
              - results.each do |result|
                %tr
                  %td
                    %span.transaction-category{title: result.formatted_transaction_category[:label]}
                      = result.formatted_transaction_category[:display]
                  %td
                    = result.value_of_property( "ppd:transactionDate" )
                  %td.text-right
                    = number_to_currency( result.value_of_property( "ppd:pricePaid" ), locale: "en", precision: 0, unit: "&pound;".html_safe )
                  %td.transaction-url
                    %a{ href: result.value_of_property("@id"), 'aria-label' => 'show transaction raw data', rel: 'nofollow ' }
                      %i.fa.fa-external-link

        .col-md-4.detailed-address
          %h3.detailed-address__title Detailed address
          %table.table
            %thead
              %tr.hidden
                %th{ scope: 'col' }
                  Address field key
                %th{ scope: 'col' }
                  Address field value
            %tbody
              - SearchResult::DETAILED_ADDRESS_ASPECTS.each do |aspect|
                - if result.presentation_value_of_property(aspect.aspect_key_property)
                  %tr
                    = address_detail_header( aspect, result )
                    = address_detail_filter( aspect, result, @preferences )

        .col-md-4.property-characteristics
          %h3.property-characteristics__title Attributes
          %table.table
            %thead
              %tr.hidden
                %th{ scope: 'col' }
                  Attribute field key
                %th{ scope: 'col' }
                  Attribute field value
            %tbody
              %tr
                %td.property-details-field-title
                  property type
                %td
                  = result.property_type[:label]
              %tr
                %td.property-details-field-title
                  estate type
                %td
                  = result.estate_type[:label]
              %tr
                %td.property-details-field-title
                  new build?
                %td
                  = result.new_build_formatted

= render partial: "ppd/workflow_action_buttons", locals: {no_results: true, no_print: true}
= render partial: "ppd/bookmark_modal"
= render partial: "ppd/help_modal"
