- sr = @query_command.search_results
%h2
  Search results

%ul.list-unstyled
  - sr.each_property_address do |results|
    -result = results.first
    %li
      .property
        %span.transaction-url
          %a{ href: result.value_of_property("@id") }
            %i.fa.fa-external-link
        %span.address
          #{result.value_of_property "ppd:propertyAddressSaon"},
          #{result.value_of_property "ppd:propertyAddressPaon"},
          #{result.value_of_property "ppd:propertyAddressStreet"},
          #{result.value_of_property "ppd:propertyAddressTown"},
          #{result.value_of_property "ppd:propertyAddressDistrict"},
          #{result.value_of_property "ppd:propertyAddressLocality"},
          #{result.value_of_property "ppd:propertyAddressCounty"},
          #{result.value_of_property "ppd:propertyAddressPostcode"}
      .details
        = result.property_details.map {|d| d[:label]} .join( ", ")



