- sr = @query_command.search_results
%h2
  Search results
%p.text-muted.small
  #{sr.properties} properties and #{sr.transactions} transactions found in #{@time_taken}ms

%ul.list-unstyled
  - sr.each_property_address do |results|
    -result = results.first
    %li
      .property
        %span.transaction-url
          %a{ href: result.value_of_property("@id") }
            %i.fa.fa-external-link
        %span.address
          %span.address-text
            #{result.value_of_property( "ppd:propertyAddressSaon" ).downcase},
            #{result.value_of_property( "ppd:propertyAddressPaon" ).downcase},
            #{result.value_of_property( "ppd:propertyAddressStreet" ).downcase},
            #{result.value_of_property( "ppd:propertyAddressTown" ).downcase},
            #{result.value_of_property( "ppd:propertyAddressDistrict" ).downcase},
            #{result.value_of_property( "ppd:propertyAddressLocality" ).downcase},
            #{result.value_of_property( "ppd:propertyAddressCounty" ).downcase},
          %span.address-postcode
          #{result.value_of_property "ppd:propertyAddressPostcode"}
      .details
        = result.property_details.map {|d| d[:label]} .join( ", ")

      .prices.row
        .col-md-4
          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Price
            %tbody
              - results.each do |result|
                %tr
                  %td
                    = result.value_of_property( "ppd:transactionDate" )
                  %td.text-right
                    = number_to_currency( result.value_of_property( "ppd:pricePaid" ), locale: "en-UK", precision: 0, unit: "&pound;".html_safe )



